@charset 'UTF-8';

/**
 * Sample design for HTML tags
 */

/*
 * Sample placeholder to show inner data
 */

.sample-placeholder {
  border-color: var(--color-text);
  border-style: solid;
  border-width: var(--size-thinnest);

  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.sample-placeholder.double {
  border-style: double;
  /*
   * NOTE:
   * Although we can specify any px using this method,
   * it is prohibited to use it in application implementation.
   */
  border-width: calc(var(--size-thinnest) * 3);
}

/*
 * Sample heading
 */

.design-header {
  line-height: var(--value-golden-ratio);
}

.design-header.primary {
  margin-block-end: 1rem;

  font-size: 2rem;
}

.design-header.secondary {
  margin-block-end: 1rem;

  font-size: 1.618rem;
}

.design-header.tertiary {
  margin-block-end: 1rem;
}

.unit-section + .unit-section {
  margin-block-start: 2rem;
}
