@charset "UTF-8";

/**
 * Usual design for HTML tags
 *
 * all selectors are composed by the tag name followed by ".usual"
 */

/*
 * Usual design for <button>
 */

button.usual {
  border: none;
  border-radius: 0.25rem;

  background-color: var(--color-primary);
  color: var(--color-text-primary);

  display: inline-block;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

button.usual:hover {
  opacity: 0.75;
}

/*
 * Usual design for <input>
 */

input.usual {
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}

/*
 * Usual design for <section>
 */

section.usual + section.usual {
  margin-block-start: 2rem;
}

/*
 * Usual design for <h1> ~ <h6>
 */

h1.usual {
  font-size: 2rem;
}

h1.usual + * {
  margin-block-start: 2rem;
}

h2.usual {
  font-size: 1.5rem;
}

h2.usual + * {
  margin-block-start: 1.5rem;
}
